---
import BackgroundColumn from "../../components/BackgroundColumn.astro";
import GridWrapper from "../../components/GridWrapper.astro";
import LinkButton from "../../components/LinkButton.astro";
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
---

<Layout
  title="Color Value Drawing - Watabe Tomonari's portfolio"
  description="Color Value DrawingというWEBアプリの詳細"
>
  <BackgroundColumn />
  <main class="wrapper">
    <GridWrapper
      paddingPC={0}
      columnPC={8}
      gapPC={2.5}
      paddingTab={0}
      columnTab={8}
      gapTab={2.5}
      paddingSp={1}
      columnSp={1}
      gapSp={0}
      ><header>
        <h1 class="title">Color Value Drawing</h1>
      </header>
    </GridWrapper>
    <GridWrapper
      paddingPC={0}
      columnPC={8}
      gapPC={2.5}
      paddingTab={0}
      columnTab={8}
      gapTab={2.5}
      paddingSp={1}
      columnSp={1}
      gapSp={0}
    >
      <picture class="main-image">
        <source
          media="(min-width: 768px)"
          srcset="/images/color-value-drawing-detail.avif"
          sizes="100vw"
          type="image/avif"
        />
        <source
          media="(max-width: 767px)"
          srcset="/images/color-value-drawing-detail-sp.avif"
          type="image/avif"
          width="1082"
          height="2402"
        />
        <img
          src="/images/color-value-drawing-detail.jpg"
          alt="フェルメールの牛乳を注ぐ女の画像にアプリで色情報を描画している"
          width="2880"
          height="1800"
        />
      </picture>
    </GridWrapper>
    <GridWrapper
      paddingPC={0}
      columnPC={8}
      gapPC={2.5}
      paddingTab={0}
      columnTab={8}
      gapTab={2.5}
      paddingSp={1}
      columnSp={1}
      gapSp={0}
    >
      <h2 class="headline">概要</h2>
      <p class="text">
        このWebアプリケーションは、画像内の色情報を効率的に分析、記録するためのツールです。色情報を画像に描画することで、色とオブジェクトの関連を記録することができます。
      </p>
    </GridWrapper>
    <GridWrapper
      paddingPC={0}
      columnPC={8}
      gapPC={2.5}
      paddingTab={0}
      columnTab={8}
      gapTab={2.5}
      paddingSp={1}
      columnSp={1}
      gapSp={0}
    >
      <h2 class="headline">使用方法</h2>
      <ul class="list">
        <li>(1)Readボタンから画像を読み込む</li>
        <li>(2)画像内の任意の点をクリックして色情報を取得</li>
        <li>
          (3)画像内の任意の点をクリックして取得した色情報を画像上の任意の位置に描画
        </li>
      </ul>
    </GridWrapper>
    <GridWrapper
      paddingPC={0}
      columnPC={8}
      gapPC={2.5}
      paddingTab={0}
      columnTab={8}
      gapTab={2.5}
      paddingSp={1}
      columnSp={1}
      gapSp={0}
    >
      <h2 class="headline">特徴</h2>
      <ul class="list">
        <li>多様な色空間に対応 (RGB, HEX, HSV, HSL, Lab, LCH, OKLab, OKLCH)</li>
        <li>線の透明度、幅、色の調整</li>
        <li>45度刻みの角度固定機能（Angle Constraint）</li>
        <li>フォントサイズやカラム数の調整</li>
        <li>
          Undo/Redo機能で作業を効率的に管理(キーボードショートカットあり。ZがUndo,XがRedo)
        </li>
        <li>
          色情報レイヤーの単独ダウンロードが可能（Colors-only。読み込んだ画像とは別にダウンロード可能）
        </li>
        <li>
          メニュー設定の保存（LocalStorageに保存。リロードや再度訪れた時に保存した設定が戻る）
        </li>
      </ul>
    </GridWrapper>
    <GridWrapper
      paddingPC={0}
      columnPC={8}
      gapPC={2.5}
      paddingTab={0}
      columnTab={8}
      gapTab={2.5}
      paddingSp={1}
      columnSp={1}
      gapSp={0}
    >
      <h2 class="headline">主な利用者</h2>
      <ul class="list">
        <li>デザインドキュメントで色情報を記録する必要がある人、</li>
        <li>絵を描く際に色を分析したいイラストレーター、</li>
        <li>に便利なツールです。</li>
      </ul>
    </GridWrapper>
    <GridWrapper
      paddingPC={0}
      columnPC={8}
      gapPC={2.5}
      paddingTab={0}
      columnTab={8}
      gapTab={2.5}
      paddingSp={1}
      columnSp={1}
      gapSp={0}
    >
      <h2 class="headline">制作の経緯</h2>
      <p class="text">
        画像の配色を分析するときに、その色情報をメモすることがよくありました。その行為を簡単にしたいと思い作ったアプリケーションです。既存のアプリケーションでも色情報を取得し保存することはできましたが、それを対象と紐づけて記録しておくのは一手間かかりました。その行為を省略することで、メモにかかる時間を短縮することができ、作業も楽しくなりました。
      </p>
    </GridWrapper>
    <GridWrapper
      paddingPC={0}
      columnPC={8}
      gapPC={2.5}
      paddingTab={0}
      columnTab={8}
      gapTab={2.5}
      paddingSp={1}
      columnSp={1}
      gapSp={0}
    >
      <div class="link-area">
        <LinkButton
          href="https://tom-wat-portfolio.vercel.app/"
          text="ホームへ戻る"
          iconPath="/icons/arrow-left.svg"
        />
        <LinkButton
          href="https://color-value-drawing.vercel.app/"
          text="サイトへ移動する"
          iconPath="/icons/external-link.svg"
          target="_blank"
        />
      </div>
    </GridWrapper>
  </main>
</Layout>

<style>
  body {
    background-color: var(--color-blue);
    color: var(--color-white);
  }
  .wrapper {
    display: grid;
    gap: 2.5rem;
    padding-block: 2.5rem;
    @media (min-width: 768px) {
      gap: 2.5rem;
      padding-block: 2.5rem;
    }
    @media (min-width: 1025px) {
      gap: 2.5rem;
      padding-block: 2.5rem;
    }
  }
  header {
    grid-column: 1/-1;
    @media (min-width: 768px) {
      grid-column: 2/-1;
    }
    @media (min-width: 1025px) {
      grid-column: 2/-1;
    }
  }
  .title {
    grid-column: 1/-1;
    font-size: 1.75rem;
    font-weight: 700;
    margin-block: var(--leading-trim);
    @media (min-width: 768px) {
      font-size: 2.5rem;
      grid-column: 2/-1;
    }
    @media (min-width: 1025px) {
      font-size: 2.5rem;
      grid-column: 2/-1;
    }
  }
  .main-image {
    grid-column: 1/-1;
    @media (min-width: 768px) {
      grid-column: 2/8;
    }
    @media (min-width: 1025px) {
      grid-column: 2/8;
    }
    & img {
      width: 100%;
      height: auto;
      border-radius: 1rem;
    }
  }
  .headline {
    color: var(--color-yellow);
    font-size: 1.25rem;
    grid-column: 1/-1;
    margin-block: var(--leading-trim);
    margin-block-end: calc(2rem + var(--leading-trim));
    @media (min-width: 768px) {
      grid-column: 3/5;
      margin-block-end: calc(0rem + var(--leading-trim));
    }
    @media (min-width: 1025px) {
      grid-column: 3/5;
      margin-block-end: calc(0rem + var(--leading-trim));
    }
  }
  .text {
    grid-column: 1/-1;
    font-size: 0.8rem;
    font-weight: 600;
    margin-block: var(--leading-trim);
    @media (min-width: 768px) {
      font-size: 0.9rem;
      grid-column: 3/7;
    }
    @media (min-width: 1025px) {
      font-size: 0.9rem;
      grid-column: 3/7;
    }
  }
  .list {
    margin-block: var(--leading-trim);
    grid-column: 1/-1;
    @media (min-width: 768px) {
      grid-column: 3/7;
    }
    @media (min-width: 1025px) {
      grid-column: 3/7;
    }
    & li {
      font-weight: 600;
      font-size: 0.8rem;
      @media (min-width: 768px) {
        font-size: 0.9rem;
      }
      @media (min-width: 1025px) {
        font-size: 0.9rem;
      }
    }
  }
  .link-area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-column: 1/-1;
    @media (min-width: 768px) {
      flex-direction: row;
      grid-column: 3/-1;
    }
    @media (min-width: 1025px) {
      flex-direction: row;
      grid-column: 3/-1;
    }
  }
</style>
