---
import BackgroundColumn from "../../components/BackgroundColumn.astro";
import GridWrapper from "../../components/GridWrapper.astro";
import LinkButton from "../../components/LinkButton.astro";
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
---

<Layout
  title="A Morning Portrait - Watabe Tomonari's portfolio"
  description="朝の光にいる女性を描いたイラストレーション"
>
  <BackgroundColumn />
  <main class="wrapper">
    <GridWrapper
      paddingPC={0}
      columnPC={8}
      gapPC={2.5}
      paddingTab={0}
      columnTab={8}
      gapTab={2.5}
      paddingSp={1}
      columnSp={1}
      gapSp={0}
      ><header>
        <h1 class="title">A Morning Portrait</h1>
      </header>
    </GridWrapper>
    <GridWrapper
      paddingPC={0}
      columnPC={8}
      gapPC={2.5}
      paddingTab={0}
      columnTab={8}
      gapTab={2.5}
      paddingSp={1}
      columnSp={1}
      gapSp={0}
    >
      <picture class="main-image">
        <source
          media="(min-width: 768px)"
          srcset="/images/morning-portrait.avif"
          sizes="100vw"
          type="image/avif"
        />
        <source
          media="(max-width: 767px)"
          srcset="/images/morning-portrait-sp.avif"
          type="image/avif"
          width="1200"
          height="1800"
        />
        <img
          src="/images/morning-portrait.jpg"
          alt="朝の光にいる女性を描いたイラストレーション"
          width="2400"
          height="1800"
        />
      </picture>
    </GridWrapper>
    <GridWrapper
      paddingPC={0}
      columnPC={8}
      gapPC={2.5}
      paddingTab={0}
      columnTab={8}
      gapTab={2.5}
      paddingSp={1}
      columnSp={1}
      gapSp={0}
    >
      <p class="text">朝の光をテーマにしたイラストレーション</p>
    </GridWrapper>
    <GridWrapper
      paddingPC={0}
      columnPC={8}
      gapPC={2.5}
      paddingTab={0}
      columnTab={8}
      gapTab={2.5}
      paddingSp={1}
      columnSp={1}
      gapSp={0}
    >
      <h2 class="headline">使用ツール</h2>
      <ul class="list">
        <li>Clip Studio Paint</li>
        <li>Affinity Photo</li>
      </ul>
    </GridWrapper>
    <GridWrapper
      paddingPC={0}
      columnPC={8}
      gapPC={2.5}
      paddingTab={0}
      columnTab={8}
      gapTab={2.5}
      paddingSp={1}
      columnSp={1}
      gapSp={0}
    >
      <h2 class="headline">経緯</h2>
      <p class="text">
        どこまでリアリスティックに描くことができるかを挑戦。Clip Studio
        Paintの3dモデルをベースに様々なリファレンスを観察、かたちや色を修正して制作。さらに観察、描画を続けていきたい。
      </p>
    </GridWrapper>
    <GridWrapper
      paddingPC={0}
      columnPC={8}
      gapPC={2.5}
      paddingTab={0}
      columnTab={8}
      gapTab={2.5}
      paddingSp={1}
      columnSp={1}
      gapSp={0}
    >
      <div class="link-area">
        <LinkButton
          href="https://tom-wat-portfolio.vercel.app/"
          text="ホームへ戻る"
          iconPath="/icons/arrow-left.svg"
        />
      </div>
    </GridWrapper>
  </main>
</Layout>

<style>
  body {
    background-color: var(--color-blue);
    color: var(--color-white);
  }
  .wrapper {
    display: grid;
    gap: 2.5rem;
    padding-block: 2.5rem;
    @media (min-width: 768px) {
      gap: 2.5rem;
      padding-block: 2.5rem;
    }
    @media (min-width: 1025px) {
      gap: 2.5rem;
      padding-block: 2.5rem;
    }
  }
  header {
    grid-column: 1/-1;
    @media (min-width: 768px) {
      grid-column: 2/-1;
    }
    @media (min-width: 1025px) {
      grid-column: 2/-1;
    }
  }
  .title {
    grid-column: 1/-1;
    font-size: 1.75rem;
    font-weight: 700;
    margin-block: var(--leading-trim);
    @media (min-width: 768px) {
      font-size: 2.5rem;
      grid-column: 2/-1;
    }
    @media (min-width: 1025px) {
      font-size: 2.5rem;
      grid-column: 2/-1;
    }
  }
  .main-image {
    grid-column: 1/-1;
    @media (min-width: 768px) {
      grid-column: 2/8;
    }
    @media (min-width: 1025px) {
      grid-column: 2/8;
    }
    & img {
      width: 100%;
      height: auto;
      border-radius: 1rem;
    }
  }
  .headline {
    color: var(--color-yellow);
    font-size: 1.25rem;
    grid-column: 1/-1;
    margin-block: var(--leading-trim);
    margin-block-end: calc(2rem + var(--leading-trim));
    @media (min-width: 768px) {
      grid-column: 3/5;
      margin-block-end: calc(0rem + var(--leading-trim));
    }
    @media (min-width: 1025px) {
      grid-column: 3/5;
      margin-block-end: calc(0rem + var(--leading-trim));
    }
  }
  .text {
    grid-column: 1/-1;
    font-size: 0.8rem;
    font-weight: 600;
    margin-block: var(--leading-trim);
    @media (min-width: 768px) {
      font-size: 0.9rem;
      grid-column: 3/7;
    }
    @media (min-width: 1025px) {
      font-size: 0.9rem;
      grid-column: 3/7;
    }
  }
  .list {
    margin-block: var(--leading-trim);
    grid-column: 1/-1;
    @media (min-width: 768px) {
      grid-column: 3/7;
    }
    @media (min-width: 1025px) {
      grid-column: 3/7;
    }
    & li {
      font-weight: 600;
      font-size: 0.8rem;
      @media (min-width: 768px) {
        font-size: 0.9rem;
      }
      @media (min-width: 1025px) {
        font-size: 0.9rem;
      }
    }
  }
  .link-area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-column: 1/-1;
    @media (min-width: 768px) {
      flex-direction: row;
      grid-column: 3/-1;
    }
    @media (min-width: 1025px) {
      flex-direction: row;
      grid-column: 3/-1;
    }
  }
</style>
