---
import BackgroundColumn from "../../components/BackgroundColumn.astro";
import GridWrapper from "../../components/GridWrapper.astro";
import LinkButton from "../../components/LinkButton.astro";
import Layout from "../../layouts/Layout.astro";
import "../../styles/global.css";
---

<Layout
  title="Sunshine Solutions - Watabe Tomonari's portfolio"
  description="Sunshine SolutionsというWebサイトの詳細"
>
  <BackgroundColumn />
  <div class="wrapper">
    <GridWrapper
      paddingPC={0}
      columnPC={8}
      gapPC={2.5}
      paddingTab={0}
      columnTab={8}
      gapTab={2.5}
      paddingSp={1}
      columnSp={1}
      gapSp={0}
      ><header>
        <h1 class="title">Sunshine Solutions</h1>
      </header>
    </GridWrapper>
    <GridWrapper
      paddingPC={0}
      columnPC={8}
      gapPC={2.5}
      paddingTab={0}
      columnTab={8}
      gapTab={2.5}
      paddingSp={1}
      columnSp={1}
      gapSp={0}
    >
      <picture class="main-image">
        <source
          media="(min-width: 768px)"
          srcset="/images/sunshine-solutions.avif"
          sizes="100vw"
          type="image/avif"
        />
        <source
          media="(max-width: 767px)"
          srcset="/images/sunshine-solutions-sp.avif"
          type="image/avif"
          width="1082"
          height="2402"
        />
        <img
          src="/images/sunshine-solutions.jpg"
          alt="フェルメールの牛乳を注ぐ女の画像にアプリで色情報を描画している"
          width="2880"
          height="1800"
        />
      </picture>
    </GridWrapper>
    <GridWrapper
      paddingPC={0}
      columnPC={8}
      gapPC={2.5}
      paddingTab={0}
      columnTab={8}
      gapTab={2.5}
      paddingSp={1}
      columnSp={1}
      gapSp={0}
    >
      <h2 class="headline">概要</h2>
      <p class="text">
        太陽を「光とエネルギーを提供する企業」として見立てたウェブサイト。
      </p>
    </GridWrapper>
    <GridWrapper
      paddingPC={0}
      columnPC={8}
      gapPC={2.5}
      paddingTab={0}
      columnTab={8}
      gapTab={2.5}
      paddingSp={1}
      columnSp={1}
      gapSp={0}
    >
      <h2 class="headline">目的</h2>
      <p class="text">
        普段、当たり前にあるものを再発見することができないかと思い立ち、作成したウェブサイト。太陽について改めて理解を深めることができるようなサイトを目指しました。
      </p>
    </GridWrapper>
    <GridWrapper
      paddingPC={0}
      columnPC={8}
      gapPC={2.5}
      paddingTab={0}
      columnTab={8}
      gapTab={2.5}
      paddingSp={1}
      columnSp={1}
      gapSp={0}
    >
      <h2 class="headline">意匠の方向</h2>
      <p class="text">
        太陽のあたたかい光を感じられるような色合いを目指しました。また、見る人が、普段の生活で自然の風景に注目してもらえるように、太陽がみえる美しい風景の写真を多く使用しました。
      </p>
    </GridWrapper>
    <GridWrapper
      paddingPC={0}
      columnPC={8}
      gapPC={2.5}
      paddingTab={0}
      columnTab={8}
      gapTab={2.5}
      paddingSp={1}
      columnSp={1}
      gapSp={0}
    >
      <h2 class="headline">技術</h2>
      <ul class="list">
        <li>Astro</li>
        <li>Canvas(+ p5.js)</li>
      </ul>
    </GridWrapper>
    <GridWrapper
      paddingPC={0}
      columnPC={8}
      gapPC={2.5}
      paddingTab={0}
      columnTab={8}
      gapTab={2.5}
      paddingSp={1}
      columnSp={1}
      gapSp={0}
    >
      <h2 class="headline">工夫</h2>
      <p class="text">
        画像やフォントを多く使っているので、少しでも容量を減らせるように工夫しました。画像はavifフォーマット。フォントはwoff2フォーマット。さらに少ししか使用していないフォントで容量の重いものはサブセット化しました（Claude3.5に書いてもらったpythonファイルを使用）。
      </p>
    </GridWrapper>
    <GridWrapper
      paddingPC={0}
      columnPC={8}
      gapPC={2.5}
      paddingTab={0}
      columnTab={8}
      gapTab={2.5}
      paddingSp={1}
      columnSp={1}
      gapSp={0}
    >
      <div class="link-area">
        <LinkButton
          href="https://tom-wat-portfolio.vercel.app/"
          text="ホームへ戻る"
          iconPath="/icons/arrow-left.svg"
        />
        <LinkButton
          href="https://sunshine-solutions.vercel.app/"
          text="サイトへ移動する"
          iconPath="/icons/external-link.svg"
          target="_blank"
        />
      </div>
    </GridWrapper>
  </div>
</Layout>

<style>
  body {
    background-color: var(--color-blue);
    color: var(--color-white);
  }
  .wrapper {
    display: grid;
    gap: 2.5rem;
    padding-block: 2.5rem;
    @media (min-width: 768px) {
      gap: 2.5rem;
      padding-block: 2.5rem;
    }
    @media (min-width: 1025px) {
      gap: 2.5rem;
      padding-block: 2.5rem;
    }
  }
  header {
    grid-column: 1/-1;
    @media (min-width: 768px) {
      grid-column: 2/-1;
    }
    @media (min-width: 1025px) {
      grid-column: 2/-1;
    }
  }
  .title {
    grid-column: 1/-1;
    font-size: 1.75rem;
    font-weight: 700;
    margin-block: var(--leading-trim);
    @media (min-width: 768px) {
      font-size: 2.5rem;
      grid-column: 2/-1;
    }
    @media (min-width: 1025px) {
      font-size: 2.5rem;
      grid-column: 2/-1;
    }
  }
  .main-image {
    grid-column: 1/-1;
    @media (min-width: 768px) {
      grid-column: 2/8;
    }
    @media (min-width: 1025px) {
      grid-column: 2/8;
    }
    & img {
      width: 100%;
      height: auto;
      border-radius: 1rem;
    }
  }
  .headline {
    color: var(--color-yellow);
    font-size: 1.25rem;
    grid-column: 1/-1;
    margin-block: var(--leading-trim);
    margin-block-end: calc(2rem + var(--leading-trim));
    @media (min-width: 768px) {
      grid-column: 3/5;
      margin-block-end: calc(0rem + var(--leading-trim));
    }
    @media (min-width: 1025px) {
      grid-column: 3/5;
      margin-block-end: calc(0rem + var(--leading-trim));
    }
  }
  .text {
    grid-column: 1/-1;
    font-size: 0.8rem;
    font-weight: 600;
    margin-block: var(--leading-trim);
    @media (min-width: 768px) {
      font-size: 0.9rem;
      grid-column: 3/7;
    }
    @media (min-width: 1025px) {
      font-size: 0.9rem;
      grid-column: 3/7;
    }
  }
  .list {
    margin-block: var(--leading-trim);
    grid-column: 1/-1;
    @media (min-width: 768px) {
      grid-column: 3/7;
    }
    @media (min-width: 1025px) {
      grid-column: 3/7;
    }
    & li {
      font-weight: 600;
      font-size: 0.8rem;
      @media (min-width: 768px) {
        font-size: 0.9rem;
      }
      @media (min-width: 1025px) {
        font-size: 0.9rem;
      }
    }
  }
  .link-area {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    grid-column: 1/-1;
    @media (min-width: 768px) {
      flex-direction: row;
      grid-column: 3/-1;
    }
    @media (min-width: 1025px) {
      flex-direction: row;
      grid-column: 3/-1;
    }
  }
</style>
