:root {
  --color-white: hsl(250, 0%, 90%);
  --color-black: hsl(240, 15%, 10%);
  --color-blue: hsl(220, 100%, 39%);
  --clamp-viewport-min: 320;
  --clamp-viewport-max: 767;
  --clamp-min: 14;
  --clamp-max: 16;
  --leading-trim: calc((1em - 1lh) / 2);
}

@font-face {
  font-family: "inter";
  src: url("/fonts/inter-v18-latin-regular.woff2") format("woff2");
  font-weight: 400;
  font-display: block;
}

@font-face {
  font-family: "inter";
  src: url("/fonts/inter-v18-latin-600.woff2") format("woff2");
  font-weight: 600;
  font-display: block;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;

  --clamp-root-font-size: 16;

  --clamp-slope: calc(
    (var(--clamp-max) - var(--clamp-min)) /
      (var(--clamp-viewport-max) - var(--clamp-viewport-min))
  );
  --clamp-intersect: calc(
    var(--clamp-max) - (var(--clamp-slope) * var(--clamp-viewport-max))
  );
  --clamp-variable: calc(
    var(--clamp-intersect) * (1rem / var(--clamp-root-font-size)) +
      (var(--clamp-slope) * 100vw)
  );
  --clamp: clamp(
    calc(var(--clamp-min) * (1rem / var(--clamp-root-font-size))),
    var(--clamp-variable),
    calc(var(--clamp-max) * (1rem / var(--clamp-root-font-size)))
  );
}
@media (min-width: 768px) {
  :root {
    --clamp-viewport-min: 768;
    --clamp-viewport-max: 1024;
  }
}
@media (min-width: 1025px) {
  :root {
    --clamp-viewport-min: 1280;
    --clamp-viewport-max: 2560;
  }
}
body {
  font-family: "inter", sans-serif;
  letter-spacing: 0.03rem;
  line-height: 2;
  text-wrap: balance;
}
img {
  max-width: 100%;
  vertical-align: middle;
}
