---
import Box from "../components/Box.astro";
import Loading from "../components/Loading.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout>
  <body>
    <h1>Portfolio</h1>
    <div class="wrapper">
      <Box
        title="Watabe Tomonari"
        description="個人のプロジェクトを公開しています。"
        className="one-blue"
        isLink={false}
      />
      <Box
        title="Color Value Drawing"
        description="画像の任意の点の色情報をそのまま画像上に描画するWEBアプリケーション"
        className="one-blue"
        imgSrc="/portfolio/images/color-value-drawing"
        hrefDetail="/portfolio/works/color-value-drawing"
        hrefExternal="https://tom-wat.github.io/color-value-drawing/"
      />
      <Box
        title="Length Drawing"
        description="画像の任意の2点間の距離をそのまま画像上に描画するWEBアプリケーション"
        className="one-blue"
        imgSrc="/portfolio/images/length-drawing"
        hrefDetail="/portfolio/works/length-drawing"
        hrefExternal="https://tom-wat.github.io/length-drawing/"
      />
      <Box
        title="Sunshine solutions"
        description="太陽を「光とエネルギーを提供する企業」として見立てたウェブサイト。"
        className="one-blue"
        imgSrc="/portfolio/images/sunshine-solutions"
        hrefDetail="/portfolio/works/sunshine-solutions"
        hrefExternal="https://tom-wat.github.io/sunshine-solutions/"
      />
      <Box
        title="Momo"
        description="ミヒャエル・エンデの小説「モモ」を紹介するアンオフィシャルウェブサイト。"
        className="one-blue"
        imgSrc="/portfolio/images/momo"
        hrefDetail="/portfolio/works/momo"
        hrefExternal="https://tom-wat.github.io/momo/"
      />
    </div>
  </body>
  <Loading />
</Layout>

<style>
  body {
    background-color: hsl(220, 100%, 39%);
    opacity: 0;
    &.loaded {
      opacity: 1;
    }
  }
  h1 {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  .wrapper {
    display: grid;
    gap: 3rem;
  }
</style>
