---
import BackgroundColumn from "../components/BackgroundColumn.astro";
import Box from "../components/Box.astro";
import GridWrapper from "../components/GridWrapper.astro";
import Loading from "../components/Loading.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<Layout
  title="Watabe Tomonari's portfolio"
  description="個人のポートフォリオサイトです。"
>
  <main>
    <h1>渡部智成のポートフォリオサイト</h1>
    <BackgroundColumn />
    <div class="wrapper">
      <GridWrapper
        paddingPC={0}
        columnPC={8}
        gapPC={2.5}
        paddingTab={0}
        columnTab={8}
        gapTab={2.5}
        paddingSp={1}
        columnSp={1}
        gapSp={0}
      >
        <header class="title-wrapper">
          <h2>Watabe Tomonari</h2>
          <p>個人のプロジェクトを公開しています。</p>
        </header>
      </GridWrapper>

      <Box
        title="Color Value Drawing"
        description="画像の色情報を視覚的に分析・記録するためのWebアプリケーション"
        imgSrc="/images/color-value-drawing"
        imgAlt="Color Value Draewingのトップページの画像"
        hrefDetail="/works/color-value-drawing"
        hrefExternal="https://color-value-drawing.vercel.app/"
      />
      <Box
        title="Length Drawing"
        description="画像内の長さを比較・分析・記録するためのWebアプリケーション"
        imgSrc="/images/length-drawing"
        imgAlt="Length Draewingのトップページの画像"
        hrefDetail="/works/length-drawing"
        hrefExternal="https://length-drawing.vercel.app/"
      />
      <Box
        title="Sunshine Solutions"
        description="太陽を「光とエネルギーを提供する企業」として見立てたウェブサイト。"
        imgSrc="/images/sunshine-solutions"
        imgAlt="サンシャインソリューションズのトップページの画像、太陽が輝く雄大な景色"
        hrefDetail="/works/sunshine-solutions"
        hrefExternal="https://sunshine-solutions.vercel.app/"
      />
      <Box
        title="Momo"
        description="ミヒャエル・エンデの小説「モモ」を紹介するアンオフィシャルウェブサイト。"
        imgSrc="/images/momo"
        imgAlt="モモのトップページの画像、時計の絵と真ん中に主人公の少女モモの横顔のシルエットが描かれている"
        hrefDetail="/works/momo"
        hrefExternal="https://momo-sage.vercel.app/"
      />
    </div>
  </main>
  <Loading />
</Layout>

<style>
  main {
    background-color: var(--color-blue);
    color: var(--color-white);
    opacity: 0;
    &.loaded {
      opacity: 1;
    }
  }
  h1 {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }
  h2 {
    --leading-trim: calc((1em - 1lh) / 2 - 4px);
    font-size: 2rem;
    font-weight: 700;
    margin-block: var(--leading-trim);
    margin-block-end: calc(0.5rem + var(--leading-trim));
    @media (min-width: 768px) {
      --leading-trim: calc((1em - 1lh) / 2 - 5px);
      font-size: 2.5rem;
      margin-block-end: calc(1.5rem + var(--leading-trim));
    }
    @media (min-width: 1025px) {
      --leading-trim: calc((1em - 1lh) / 2 - 5px);
      font-size: 2.5rem;
      margin-block-end: calc(1.5rem + var(--leading-trim));
    }
  }
  p {
    font-size: 0.8rem;
    font-weight: 600;
    width: 40ch;
    margin-block: var(--leading-trim);
    &:has(+ div) {
      margin-block-end: calc(2.5rem + var(--leading-trim));
    }
    @media (min-width: 768px) {
      font-size: 0.9rem;
    }
    @media (min-width: 1025px) {
      font-size: 0.9rem;
    }
  }
  .title-wrapper {
    /* background-color: hsl(240, 100%, 50%); */
    grid-column: 1/-1;
    z-index: 1;
    @media (min-width: 768px) {
      grid-column: 2/8;
    }
    @media (min-width: 1025px) {
      grid-column: 2/5;
    }
  }
  .wrapper {
    display: grid;
    gap: 4rem;
    padding: 4rem 0 4rem 0;
    @media (min-width: 768px) {
      gap: 6rem;
      padding: 5.5rem 0 6rem 0;
    }
    @media (min-width: 1025px) {
      gap: 6rem;
      padding: 5.5rem 0 6rem 0;
    }
  }
</style>
