---
const { href, iconPath, text, target = "_self" } = Astro.props;
---

<a href={href} class="button-link" target={target}>
  <span class="text">{text}</span>
  <span class="icon">
    <img src={iconPath} alt="" />
  </span>
</a>

<style>
  .button-link {
    display: flex;
    align-items: center;
    width: max-content;
    text-wrap: nowrap;
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 5rem;
    padding: 0.5rem 1.5rem;
    color: black;
    background-color: var(--color-white);
    transition:
      color 0.1s,
      background-color 0.1s;
    &:focus-visible {
      background-color: var(--color-yellow);
      outline: 2px solid var(--color-white);
      outline-offset: 4px;
    }
    @media (any-hover: hover) {
      &:hover {
        background-color: var(--color-yellow);
      }
    }
    @media (min-width: 768px) {
      font-size: 0.9rem;
    }
    @media (min-width: 1025px) {
      font-size: 0.9rem;
    }
  }
  .icon {
    width: 1rem;
    align-self: center;
    margin-inline-start: 0.5rem;
    transform: translateY(-0.1rem);
  }
</style>
